<div class="container">
        <h2>Tarefas-api</h2>

        <div class="lista-tarefas">
                <!-- Percorre a lista de tarefas -->
                <div *ngFor="let t of tarefas" class="tarefa-item">
                        <div class="tarefa-header">
                                <span [class]="t.concluida ? 'status concluida' : 'status pendente'">
                                        {{ t.concluida ? 'Concluída' : 'Pendente' }}
                                </span>
                        </div>
                        <p class="tarefa-descricao">{{ t.descricao }}</p>

                </div>
        </div>

        <button (click)="carregarTarefas()">Recarregar</button>
        <button (click)="abrirModal()">Adicionar Tarefa</button>
</div>
