div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 30px;
  flex-wrap: wrap;
  background: #eef1f5;
  min-height: 100vh;
}

app-lista-tarefas-local,
app-lista-tarefa-api {
  width: 450px;
}